name: Tests

on:
  push:
  pull_request:
  schedule:
    -   cron: '0 8 * * *'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [ '8.4', '8.5' ]
        composer-flags: [ '', '--prefer-lowest' ]

    steps:
      -   name: Checkout
          uses: actions/checkout@v6

      -   name: Build the image
          run: dev/bin/docker-compose build --build-arg PHP_VERSION=${{ matrix.php }} php

      -   name: Install the dependencies
          run: dev/bin/php composer update --ansi --prefer-dist ${{ matrix.composer-flags }}

      -   name: Run the tests
          run: dev/bin/php-test composer test -- --colors=always --coverage-clover=coverage.xml

      -   name: Check coding standards
          run: dev/bin/php composer lint -- --ansi --diff --dry-run --using-cache=no --verbose

      -   name: Clear docker volumes
          if: ${{ always() }}
          run: dev/bin/docker-compose down --volumes

      -   name: Upload coverage to Codecov
          if: ${{ success() }}
          uses: codecov/codecov-action@v5
          with:
            files: coverage.xml
